{{!< default}}


<div class="container banner-container{{#if @blog.cover_image}} banner-background" style="background-image: url({{@blog.cover_image}})"><div class="banner-background-overlay">{{else}}">{{/if}}
	<div class="banner">
		{{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" class="banner-logo" alt="Blog Logo" /></a>{{/if}}
		<h1 class="banner-title">{{@blog.title}}</h1>
		{{navigation}}
	</div>
	{{#if @blog.cover_image}}</div>{{/if}}
</div>

<main id="words" class="posts-list" role="main">
	{{> "loop"}}
</main>
